{% extends 'base.html' %}
{% block contnent %}
<div class="row">
<div class="col-6 tm-block-col" style="min-height:150px; height:450px; max-height:450px" >

    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll" >

        {% if assoiateTable is none %}
        <p>There is no result </p>
        {% else %}
        <h2 class="tm-block-title" style="text-align: center">Twitter retrieving History</h2>
        <hr style=" border: 1px solid gray">
        <table class="table" id="analyseTable">
            <thead>
            <tr>
                <td>Tweets Number</td>
                <td>Clone ID</td>
                <td>Twitter Account</td>
                <td>Clone Time </td>
            </tr>
            </thead>
            <tbody>
            <!--<tr>-->
                {% for row in assoiateTable %}
                <tr class="analyseTable">
                        <td><a style="text-decoration:none;" href="{{url_for('result')}}?cloneID={{row[1]}}">
                            {{row[0]}}</a></td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>

                </tr>

            {% endfor %}
            </tbody>
        </table>

        {% endif %}
        <!--<form action="{{url_for('retriveMore')}}" method="POST">-->
        <!--<div class="form-group">-->
            <!--<button type="submit" class="btn btn-primary btn-block text-uppercase">Retrive More</button>-->
        <!--</div>-->
        <!--</form>-->
        <form style="margin-top:30px" action="{{url_for('retriveMore')}}" method="POST">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block text-uppercase" style="margin-outside: 10px">Retrive More From twitter</button>
        </div>
        </form>
    </div>

</div>
    <div class="col-6 tm-block-col" >
        <div class="row" >
            <div class="col-12 d-lg-table-row">

                <div style="min-height:150px; height:450px; max-height:450px" class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                   <h2 class="tm-block-title" style="text-align: center">Searching Options</h2>
                    <hr style=" border: 1px solid gray">
                    <form action="{{url_for('retriveBasedOnDate')}}" method="POST">
                        <label style="color: seashell">Form</label><input style="margin-bottom: 5px ;border-radius: 2px ; width: 30% ; margin-left: 5%" type="date" name="startDate">
                        <label style="color: seashell" >To</label><input style="margin-bottom: 5px ;border-radius: 2px ; width: 30%; margin-left: 7%" type="date" name="endDate">
                        <div class="form-group mb-3">
                                <label for="category" style="margin-top: 10px"
                                 >Choose Category</label>
                                <select name="categroyName"
                                        class="custom-select tm-select-accounts"
                                        id="category">
                                    <option > All </option>
                                    <option > Bug </option>
                                    <option > Feature request </option>
                                    <option > User experience </option>
                                    <option > None </option>
                                </select>
                            </div>
                        <input class="btn btn-primary btn-block text-uppercase" type="submit" value="Search">
                    </form>
                    <form action="{{url_for('retriveAlltweets')}}" method="POST">
                <div class="form-group">
                        <button style="margin-top: 30px"type="submit" class="btn btn-primary btn-block text-uppercase">All saved tweets</button>
                </div>
                </form>

                </div>
                </div>

            <div class="col-6 d-lg-table-row">
                <!--<div style="min-height:150px; height:150px; max-height:150px" class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">-->
                <!--<form action="{{url_for('retriveAlltweets')}}" method="POST">-->
                <!--<div class="form-group">-->
                        <!--<button style="margin-top: 30px"type="submit" class="btn btn-primary btn-block text-uppercase">All saved tweets</button>-->
                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
            </div>
        </div>
    </div>


</div>


  <!--<div class="form-group mb-3 col-xs-12 col-sm-6">-->
      <!--<label for="expire_date">Expire Date-->
      <!--</label>-->
      <!--<input id="expire_date" name="expire_date" type="text" value="22 Oct, 2020" class="form-control validate hasDatepicker" data-large-mode="true">-->
    <!--</div>-->

</div>
<!--<form action="/action_page.php">-->
  <!--Birthday:-->
  <!--<input type="date" name="bday">-->
  <!--<input type="submit">-->
<!--</form>-->

<!--End of cloning table -->
{% endblock %}