{% extends 'base.html' %}
{% block contnent %}
{% if data and data2 is defined %}
<div class="row" >
<div class = "col-6" id="donutchart" style="border-right: 1px solid gray"></div>
<div class = "col-6" id="columnchart_values" style="border-left: 1px solid gray"></div>
</div>
</div>
<script type="text/javascript">
    console.log('hello world');
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      let header = ['word', 'number', { role: 'style' }];
      let drawArray = [];
      drawArray.push(header);
      ///var values = new array();
      // console.log('dddd');
      // console.log({{data2|tojson}});
      //
      let dataArray = {{data2|tojson}};

      let x = 10;
      if(dataArray.length < x){
          x = dataArray.length;
      }

      for(let i=0; i<x; i++){
          let data = [dataArray[i][0], dataArray[i][1], 'gray']
          drawArray.push(data);
      }
      console.log(drawArray);
      var data = google.visualization.arrayToDataTable(
          drawArray
      );
      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        backgroundColor: "#fff",
        title: "Terms frequency",
        width: 600,
        height: 400,
        bar: {groupWidth: "50%", color: 'red'},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>

 <script type="text/javascript">

      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
         ['Bug', {{data[0][0]}}],
          ['F', {{data[1][0]}}],
          ['None', {{data[2][0]}}],
          ['U', {{data[3][0]}}],
        ]);

        var options = {
          title: 'Tweets categroy',
             backgroundColor: { fill: "#fff" },
            width: 700,
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>

{% else %}
 <div class="container" style="margin-left: 1px; margin-top: 70px" >
     <p class="name" style="margin-left: 400px "> There is no data to be analyzed </p>
     <p class="name" style="margin-left: 455px; margin-top: 20px"> Enter a twitter tag</p>
     </div>
{% endif %}
{% endblock %}